.app {
    text-align: center;
}

.counter-minus {
    font-size: 15px;
    padding: 2px 20px;
    margin-right: px;
    background-color: rgb(243, 32, 32);
    border-radius: 4px;
}

.counter-plus {
    font-size: 15px;
    padding: 2px 20px;
    margin-right: px;
    background-color: rgb(37, 190, 37);
    border-radius: 4px;
}

